# MongoDB Connection String (e.g. MongoDB Atlas M0 Free cluster or local MongoDB)
MONGO_URI=mongodb+srv://myUser:MySecurePassword123@cluster1.m2maqcc.mongodb.net/?retryWrites=true&w=majority&appName=Cluster1

# JWT Secret for Session Signing
JWT_SECRET=timecapsule-super-secure-secret-3.0

# Node Environment
NODE_ENV=development
